<!-- footer.component.html -->
<footer class="bg-gray-800 text-white text-center py-4 mt-auto">
  <div class="flex justify-center space-x-4 mb-2">
    <a
      href="https://github.com/muratcanpayir"
      target="_blank"
      class="hover:text-gray-400"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://linkedin.com/in/muratcanpayir"
      target="_blank"
      class="hover:text-gray-400"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <p>&copy; {{ currentYear }} Car Catalog. All rights reserved.</p>
  <p>
    Contact us:
    <a
      href="mailto:info@carcatalog.com"
      class="text-blue-300 hover:text-blue-500"
      >info@carcatalog.com</a
    >
  </p>
</footer>
