@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.css';


body {
  background-color: #f9fafb; /* Soft off-white background */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%; /* Add this line */
}
